@use "@/styles/colors";
@use "@/styles/fonts";
@use "@/styles/mixins";

.SEDANS {
    @include mixins.box-style(colors.$brightOrange, 5px 5px 0 0);
}
  
.SUVS {
    background-color: colors.$darkCyan;
}
  
.LUXURY {
    @include mixins.box-style(colors.$veryDarkCyan,  0 0 5px 5px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.7em;
    padding: 2.5em;
    color: colors.$transparentWhite;

    &__icon {
        width: 3.75em;
        height: 2.1em;
    }

    &__title {
        @include mixins.font-style(clamp(2.4rem, 2.342rem + 0.247vw, 2.5rem), 700, fonts.$bigShouldersDisplay);
        color: colors.$veryLightGray;
    }

    &__description {
        @include mixins.font-style(clamp(0.9rem, 0.842rem + 0.247vw, 1rem), 400, fonts.$lexedDeca);
        line-height: 1.5;
        letter-spacing: 0.015em;
        padding-right: .9em;
    }
}

@media (min-width: 1025px) {
    .SEDANS {
        border-radius: 5px 0 0 5px;
    }
      
    .LUXURY {
        border-radius:  0 5px 5px 0;
    }
}

